
p{
  line-height: 1.75em;
  margin-bottom: 1.5em;
  }
  
  
#proofid{
 background-color: white;
 color: #034f84;
 font-family: 'Arial';
 font-size: 16px;
 text-decoration: none;
 border: none;
}

h2 { font-size: 22px; }

h3 { font-size: 20px; }

.header-section-number::after{
  content: ')';
}

